{% if site.ga_analytics %}

{% endif %}

<script type="text/javascript" src="/_assets/javascripts/vendor.js"></script>

{% unless site.local_fonts %}
  <script type="text/javascript" src="/_assets/javascripts/webfonts.js"></script>
{% endunless %}

{% if site.scrollappear_enabled %}
  <script type="text/javascript" src="/_assets/javascripts/scrollappear.js"></script>
{% endif %}

<script type="text/javascript" src="/_assets/javascripts/application.js"></script>

{% if site.theme_toggle == true %}
  <script type="text/javascript" src="/_assets/javascripts/themetoggle.js"></script>
{% endif %}