<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% if site.ga_analytics %}

{% endif %}

<script type="text/javascript" src="/assets/javascripts/vendor.js"></script>

{% unless site.local_fonts %}
  <script type="text/javascript" src="/assets/javascripts/webfonts.js"></script>
{% endunless %}

{% if site.scrollappear_enabled %}
  <script type="text/javascript" src="/assets/javascripts/scrollappear.js"></script>
{% endif %}

<script type="text/javascript" src="/assets/javascripts/application.js"></script>

{% if site.theme_toggle == true %}
  <script type="text/javascript" src="/assets/javascripts/themetoggle.js"></script>
{% endif %}